@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    color: rgb(47, 29, 216);
}

div {
    background-color: rgba(127, 255, 212, 0.589);
}